<h3><%= t('mailer.email_verification_instructions.subject') %></h3>
<br>
<div><%= t('mailer.shared.greetings', username: @content.username) %> <%= t('mailer.email_verification_instructions.details') %> <a href="<%= @content.email_verification_url %>"><%= t('mailer.email_verification_instructions.link') %></a></div>
<br>
<br>
<div><%= t('mailer.shared.good_game') %></div>
<div><%= t('mailer.shared.team') %></div>
