<h3><%= t('mailer.notifications_informations.title') %></h3>
<br>
<div><%= raw t('mailer.shared.greetings', username: @content.username) %> <%= t('mailer.notifications_informations.details') %></div>
<br>
<% @content.notifications.each do |notification| %>
  <div>
    <%= raw notification.description %> <a href="<%= notification.url %>">
      <div style=" display: inline-block;
        color: #fff;
        background-color: #298E28;
        border-color: #398439;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.42857;
        border-radius: 4px;"><%= t('mailer.notification_informations.link') %>
      </div>
    </a>
  </div>
  <br>
<% end %>
<br>
<div><%= t('mailer.shared.good_game') %></div>
<div><%= t('mailer.shared.team') %></div>
<br>
<hr>
<br>
<div>
  <%= t('mailer.notifications_informations.subscribe.label') %> <a href="<%= @content.subscribe_url %>"><%= t('mailer.notifications_informations.subscribe.link') %></a>
</div>
