<%= t('mailer.greetings', username: @content.username) %>
</br></br>
<%= t('mailer.reset_password_instructions.details') %>
</br></br>
<a href="<%= @content.reset_password_url %>"><%= t('mailer.reset_password_instructions.link') %></a>
</br></br>
<%= t('mailer.reset_password_instructions.notice') %>
