<h3><%= t('mailer.reset_password_instructions.subject') %></h3>
<br>
<div>
  <%= t('mailer.shared.greetings', username: @content.username) %> <%= t('mailer.reset_password_instructions.details') %> <a href="<%= @content.reset_password_url %>"><%= t('mailer.reset_password_instructions.link') %></a>
</div>
<br>
<div><%= t('mailer.reset_password_instructions.notice') %></div>
<br>
<div><%= t('mailer.shared.good_game') %></div>
<div><%= t('mailer.shared.team') %></div>
