<h3><%= @content.subject %></h3>
<br>
<div><%= raw @content.details %></div>
<br>
<div><a href="<%= t('mailer.shared.facebook.link') %>"><%= t('mailer.shared.facebook.label') %></a></div>
<div><a href="<%= t('mailer.shared.twitter.link') %>"><%= t('mailer.shared.twitter.label') %></a></div>
<br>
<a href="<%= @content.search_url %>">
   <div
      style=" display: inline-block;
       color: #fff;
       background-color: #298E28;
       border-color: #398439;
       margin-bottom: 0;
       font-weight: normal;
       text-align: center;
       vertical-align: middle;
       touch-action: manipulation;
       cursor: pointer;
       background-image: none;
       border: 1px solid transparent;
       white-space: nowrap;
       padding: 6px 12px;
       font-size: 14px;
       line-height: 1.42857;
       border-radius: 4px;"><%= t('mailer.welcome_informations.link') %>
   </div>
</a>
<br>
<br>
<div><%= t('mailer.shared.good_game') %></div>
<div><%= t('mailer.shared.team') %></div>
